# 🔧 CONFIGURACIÓN GENERAL DEL PROYECTO

# Activa modo debug
DEBUG=True

# Nombre Aplicación
APP_NAME=BibliotecaAPI

# Puerto en el que corre FastAPI
APP_PORT=8000


# 🗄️ BASE DE DATOS

# Base de datos local
DATABASE_URL=sqlite:///./biblioteca.db
