# === CONFIGURACIÓN GENERAL ===
APP_NAME=GestionBiblioteca
APP_VERSION=1.0.0
DEBUG=True

# === BASE DE DATOS ===
DATABASE_URL=sqlite:///./BibliotecaApi.db

# === CONFIGURACIÓN EXTRA ===
DEFAULT_PAGE_SIZE=10
LOG_LEVEL=INFO
